<html>
  <head>
    <title>Reset Your Password</title>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>You requested a password reset. Click the link below to set a new
      password:</p>
    <p><a href='{{resetUrl}}'>Reset Password</a></p>
    <p>This link will expire in 1 hour.</p>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
  </body>
</html>